.Category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
    width: 18rem;
    max-height: 40rem;
}

.img {
    object-fit: contain;
}